.hiddenClock {
    display: none;
}

.clock {
    display: block;
    color: white;
    font-size: 260px;
    font-family: arial;
    font-weight: bold;
    align-self: center;
    text-align: right;
    width: 980px;
}
