.hiddenClock {
    display: none;
}

.clock {
    opacity: 1;
    color: white;
    font-size: 280px;
    font-family: arial;
    font-weight: bold;
    align-self: center;
    text-align: right;
    width: 980px;
}

.hidden {
    opacity: 0;
    transition: opacity 1.5s linear;
}

.buttonContainer {
    align-self: center;
}

.startTimeInput {
    margin-left: 5px;
    margin-top: 10px;
    width: 500px;
    height: 80px;
    font-size: 48px;
}