.poem {
    display: block;
    opacity: 100;
    transition: opacity 1s linear;
    background-color: brown;
    color: white;
    font-size: 36px;
    font-family: arial;
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    width: 1000px;
    height: 650px;
    align-items: center;
    overflow-y: scroll;
}

.poemPart {
    margin-bottom: 25px;
}

.buttonContainer {
    width: 100%;
    text-align: center;
    margin-top: -40px;
}
