.poem {
    display: block;
    transition: opacity 1s linear;
    background-color: brown;
    color: white;
    font-size: 36px;
    font-family: arial;
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    width: 1000px;
    height: 650px;
    align-items: center;
    overflow-y: scroll;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}
  

.poemPart {
    margin-bottom: 25px;
}

.buttonContainer {
    width: 100%;
    text-align: center;
    margin-top: -40px;
}
